# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Frontend
frontend/node_modules/
frontend/dist/
client-portal/node_modules/
client-portal/dist/
*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
client-portal/vite.config.js
client-portal/vite.config.d.ts

# IDE
.vscode/
.idea/

# Python cache
__pycache__/
