# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# Python cache
__pycache__/
